AG.Claims.Audatex/Service References/AudatexOutbound/Audatex3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://novo-demo.audatexsolutions.com/APIGateway/Audatex.B2B.FNOLService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Audatex.B2B.DataModels.DuckCreek" />
  <xs:element name="AddFnol">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="assignmentAddRq" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddFnolResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Audatex.B2B.DataModels.DuckCreek" minOccurs="0" name="AddFnolResult" nillable="true" type="q1:AssignmentAddRs" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>