AG.Claims.Audatex/Service References/AudatexOutbound/Audatex1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Audatex.B2B.DataModels.DuckCreek" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Audatex.B2B.DataModels.DuckCreek" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="AssignmentAddRs">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:MessageHeaderType">
        <xs:sequence>
          <xs:element name="applicationStatusField" nillable="true" type="tns:ApplicationStatusType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AssignmentAddRs" nillable="true" type="tns:AssignmentAddRs" />
  <xs:complexType name="MessageHeaderType">
    <xs:sequence>
      <xs:element name="asyncRqUIDField" nillable="true" type="xs:string" />
      <xs:element name="partnerKeyField" nillable="true" type="xs:string" />
      <xs:element name="rqUIDField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MessageHeaderType" nillable="true" type="tns:MessageHeaderType" />
  <xs:complexType name="ApplicationStatusType">
    <xs:sequence>
      <xs:element name="applicationErrorField" nillable="true" type="tns:ArrayOfApplicationStatusTypeApplicationError" />
      <xs:element name="applicationStatusCodeField" type="tns:ApplicationStatusOpenEnumType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ApplicationStatusType" nillable="true" type="tns:ApplicationStatusType" />
  <xs:complexType name="ArrayOfApplicationStatusTypeApplicationError">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ApplicationStatusTypeApplicationError" nillable="true" type="tns:ApplicationStatusTypeApplicationError" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfApplicationStatusTypeApplicationError" nillable="true" type="tns:ArrayOfApplicationStatusTypeApplicationError" />
  <xs:complexType name="ApplicationStatusTypeApplicationError">
    <xs:sequence>
      <xs:element name="errorCodeField" nillable="true" type="xs:string" />
      <xs:element name="errorDescField" nillable="true" type="xs:string" />
      <xs:element name="severityField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ApplicationStatusTypeApplicationError" nillable="true" type="tns:ApplicationStatusTypeApplicationError" />
  <xs:simpleType name="ApplicationStatusOpenEnumType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Accept" />
      <xs:enumeration value="Partial" />
      <xs:enumeration value="Reject" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ApplicationStatusOpenEnumType" nillable="true" type="tns:ApplicationStatusOpenEnumType" />
</xs:schema>