AG.Claims.Audatex/Service References/AG_Audatex/AG_Audatex2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="AG_AudatexInboundDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClaimID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ImageData" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Subject" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Text" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AG_AudatexInboundDTO" nillable="true" type="AG_AudatexInboundDTO" />
</xs:schema>