AG.Claims.Audatex/Service References/AG_Audatex/AG_Audatex.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8071/AG_Audatex.svc?xsd=xsd2" />
  <xs:element name="UploadAudatexResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="audatexDetails" nillable="true" type="AG_AudatexInboundDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadAudatexResponseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UploadAudatexResponseResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>