AG.Claims.CheckWriting/Service References/AG_Common/AG_Common.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://localhost/Claims.WCF" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AG_Common" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import namespace="http://localhost/Claims.WCF" location="http://g1ml19618.mindtree.com:8070/AG_Common.svc?wsdl=wsdl0" />
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://g1ml19618.mindtree.com:8070/AG_Common.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://g1ml19618.mindtree.com:8070/AG_Common.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://g1ml19618.mindtree.com:8070/AG_Common.svc?xsd=xsd2" />
      <xsd:import schemaLocation="http://g1ml19618.mindtree.com:8070/AG_Common.svc?xsd=xsd3" namespace="http://epc.accenture.com/2013/06/26/Type" />
      <xsd:import schemaLocation="http://g1ml19618.mindtree.com:8070/AG_Common.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/AFS.Architecture.Common" />
      <xsd:import schemaLocation="http://g1ml19618.mindtree.com:8070/AG_Common.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/AFS.AEF" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAG_Common_GetCheckPrintingInformation_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCheckPrintingInformation" />
  </wsdl:message>
  <wsdl:message name="IAG_Common_GetCheckPrintingInformation_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCheckPrintingInformationResponse" />
  </wsdl:message>
  <wsdl:message name="IAG_Common_UpdateCheckDetail_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCheckDetail" />
  </wsdl:message>
  <wsdl:message name="IAG_Common_UpdateCheckDetail_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCheckDetailResponse" />
  </wsdl:message>
  <wsdl:message name="IAG_Common_InsertClaimHistoryOnParticipantChange_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertClaimHistoryOnParticipantChange" />
  </wsdl:message>
  <wsdl:message name="IAG_Common_InsertClaimHistoryOnParticipantChange_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertClaimHistoryOnParticipantChangeResponse" />
  </wsdl:message>
  <wsdl:portType name="IAG_Common">
    <wsdl:operation name="GetCheckPrintingInformation">
      <wsdl:input wsaw:Action="http://tempuri.org/IAG_Common/GetCheckPrintingInformation" message="tns:IAG_Common_GetCheckPrintingInformation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAG_Common/GetCheckPrintingInformationResponse" message="tns:IAG_Common_GetCheckPrintingInformation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateCheckDetail">
      <wsdl:input wsaw:Action="http://tempuri.org/IAG_Common/UpdateCheckDetail" message="tns:IAG_Common_UpdateCheckDetail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAG_Common/UpdateCheckDetailResponse" message="tns:IAG_Common_UpdateCheckDetail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertClaimHistoryOnParticipantChange">
      <wsdl:input wsaw:Action="http://tempuri.org/IAG_Common/InsertClaimHistoryOnParticipantChange" message="tns:IAG_Common_InsertClaimHistoryOnParticipantChange_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAG_Common/InsertClaimHistoryOnParticipantChangeResponse" message="tns:IAG_Common_InsertClaimHistoryOnParticipantChange_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="AG_Common">
    <wsdl:port name="WSHttpBinding_IAG_Common" binding="i0:WSHttpBinding_IAG_Common">
      <soap12:address location="http://g1ml19618.mindtree.com:8070/AG_Common.svc/web" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://g1ml19618.mindtree.com:8070/AG_Common.svc/web</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>