AG.Claims.CheckWriting/Service References/AG_Common/AG_Common.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfAG_ClaimCheckWritingDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AG_ClaimCheckWritingDTO" nillable="true" type="AG_ClaimCheckWritingDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAG_ClaimCheckWritingDTO" nillable="true" type="ArrayOfAG_ClaimCheckWritingDTO" />
  <xs:complexType name="AG_ClaimCheckWritingDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Address2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Amount" type="xs:decimal" />
      <xs:element minOccurs="0" name="CheckIssueDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CheckNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CheckStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClaimNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DateOfLoss" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LineType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Notes" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PayeeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PaymentID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PaymentType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="State" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UnderwritingCompanyName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Zip" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AG_ClaimCheckWritingDTO" nillable="true" type="AG_ClaimCheckWritingDTO" />
</xs:schema>