AG.Claims.LXNX/Service References/AG_CCR/ohws.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" xmlns:tns="http://decisioning.lexisnexis.com/ws/rules/orderhandler" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" name="ohws" targetNamespace="http://decisioning.lexisnexis.com/ws/rules/orderhandler" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://decisioning.lexisnexis.com/ws/rules/orderhandler" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="PlaceInteractiveOrder" type="tns:PlaceInteractiveOrder" />
      <xs:element name="PlaceInteractiveOrderResponse" type="tns:PlaceInteractiveOrderResponse" />
      <xs:complexType name="PlaceInteractiveOrder">
        <xs:sequence>
          <xs:element minOccurs="0" name="request" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="PlaceInteractiveOrderResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="response" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="SOAPFaultInfo">
        <xs:sequence>
          <xs:element minOccurs="0" name="code" type="xs:string" />
          <xs:element minOccurs="0" name="message" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="SecurityFailure" nillable="true" type="tns:SOAPFaultInfo" />
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="PlaceInteractiveOrder">
    <wsdl:part name="parameters" element="tns:PlaceInteractiveOrder" />
  </wsdl:message>
  <wsdl:message name="PlaceInteractiveOrderResponse">
    <wsdl:part name="parameters" element="tns:PlaceInteractiveOrderResponse" />
  </wsdl:message>
  <wsdl:message name="SecurityFailedException">
    <wsdl:part name="SecurityFailedException" element="tns:SecurityFailure" />
  </wsdl:message>
  <wsdl:portType name="ohws">
    <wsdl:operation name="PlaceInteractiveOrder">
      <wsdl:input name="PlaceInteractiveOrder" message="tns:PlaceInteractiveOrder" />
      <wsdl:output name="PlaceInteractiveOrderResponse" message="tns:PlaceInteractiveOrderResponse" />
      <wsdl:fault name="SecurityFailedException" message="tns:SecurityFailedException" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ohwsSoapBinding" type="tns:ohws">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PlaceInteractiveOrder">
      <soap12:operation soapAction="" style="document" />
      <wsdl:input name="PlaceInteractiveOrder">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="PlaceInteractiveOrderResponse">
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="SecurityFailedException">
        <soap12:fault use="literal" name="SecurityFailedException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ohws">
    <wsdl:port name="ohws" binding="tns:ohwsSoapBinding">
      <soap12:address location="http://localhost:8080/rules-ejb/ohws/RulesOrderHandlerWS" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>